on:
    workflow_dispatch:
    push:
        branches: [ main, development ]

jobs:
    build:
        uses: PANiXiDA-Infrastructure/ci-cd/.github/workflows/docker-build.yml@main
        with:
          service-folder: Pl/Api
          service-name: api
